<section id="hero">
    <!-- hero container -->
    <div class="container max-w-6xl mx-auto px-6 py-12 ">
        <!-- menu logo -->
        <nav class="flex items-center justify-between font-bold text-white">
            <img src="\assets\images\carlogo.svg" alt="" >
            <!-- menu -->
            <div class="hidden h-10 font-alata md:flex md:space-x-8">
                <div class="group">
                    <a href="#">About</a>
                    <div class="mx-2 group-hover:border-b group-hover:border-blue-50">
                        
                    </div>
                </div>

                <div class="group">
                    <a href="#">services</a>
                    <div class="mx-2 group-hover:border-b group-hover:border-blue-50">
                        
                    </div>
                </div>

                <div class="group">
                    <a href="#">sale</a>
                    <div class="mx-2 group-hover:border-b group-hover:border-blue-50">
                        
                    </div>
                </div>

                <div class="group">
                    <a href="#">contact</a>
                    <div class="mx-2 group-hover:border-b group-hover:border-blue-50">
                        
                    </div>
                </div>

                <div class="group">
                    <a href="#">payment</a>
                    <div class="mx-2 group-hover:border-b group-hover:border-blue-50">
                        
                    </div>
                </div>
            </div>
            <!-- hamburger -->
            <div class="md:hidden">
                <button id="menu-btn" type="button" class="z-40 block hamburger md:hidden">
                    <span class="hamburger-top"></span>
                    <span class="hamburger-middle"></span>
                    <span class="hamburger-bottom"></span>
                </button>
            </div>

        </nav>
        <!-- todo mobilemeny -->
        <div class="max-w-lg mt-32 mb-32 p-4 font-sans text-4xl text-white uppercase border-2 md:p-10 md:m-32 md:mx-0 md:text-6xl">
            all car services
        </div>
    </div>
</section>

<!-- creation section -->
<section id="creations">
    <!-- creation container -->
    <div class="container max-w-6xl mx-auto my-32 px-6 text-gray-900 md:px-0">
        <!-- creations header -->
        <div class="flex jusfify-center mb-20 md:justify-between">
            
        <h2 class="text-4xl text-center uppercase md:text-left md:text-5xl">
            our services
        </h2>
        <button class="hidden btn md:block">
        see all
        </button>
    </div>
    <!-- item container -->
    <div class="item-container">

     <!-- item 1 -->
    <div class="group item">
        <!-- desktop image -->
        <img src="\assets\images\battery.jpg" alt="" class="hidden w-full duration 200 md:block group-hover:scale-110">
        <!-- mobile image -->
        <img src="\assets\images\batterymob.jpg" alt="" class=" w-full md:hidden">
        <!-- item gradient -->
        <div class="item-gradient"></div>
        <!-- item text -->
        <h5>Battery service</h5>
    
    </div>

    <!-- item 2 -->
    <div class="group item">
        <!-- desktop image -->
        <img src="\assets\images\carAC1.jpg" alt="" class="hidden w-full duration 200 md:block group-hover:scale-110">
        <!-- mobile image -->
        <img src="\assets\images\carmob.jpg" alt="" class=" w-full md:hidden">
        <!-- item gradient -->
        <div class="item-gradient"></div>
        <!-- item text -->
        <h5>AC Repair</h5>
    
    </div>

    <!-- item 3 -->
    <div class="group item">
        <!-- desktop image -->
        <img src="\assets\images\carwash.jpg" alt="" class="hidden w-full duration 200 md:block group-hover:scale-110">
        <!-- mobile image -->
        <img src="\assets\images\carwashmob.jpg" alt="" class=" w-full md:hidden">
        <!-- item gradient -->
        <div class="item-gradient"></div>
        <!-- item text -->
        <h5>Car Wash</h5>
    
    </div>

    <!-- item 4 -->
    <div class="group item">
        <!-- desktop image -->
        <img src="\assets\images\ceramic.jpg" alt="" class="hidden w-full duration 200 md:block group-hover:scale-110">
        <!-- mobile image -->
        <img src="\assets\images\ceramicmob.jpg" alt="" class=" w-full md:hidden">
        <!-- item gradient -->
        <div class="item-gradient"></div>
        <!-- item text -->
        <h5>Ceramic Coating</h5>
    
    </div>

    </div>

    <!-- second row -->

    <div class="item-container">

        <!-- item 5 -->
       <div class="group item">
           <!-- desktop image -->
           <img src="\assets\images\custom.jpg" alt="" class="hidden w-full duration 200 md:block group-hover:scale-110">
           <!-- mobile image -->
           <img src="\assets\images\custommob.jpg" alt="" class=" w-full md:hidden">
           <!-- item gradient -->
           <div class="item-gradient"></div>
           <!-- item text -->
           <h5>Custom Repair</h5>
       
       </div>
   
       <!-- item 6 -->
       <div class="group item">
           <!-- desktop image -->
           <img src="\assets\images\paint.jpg" alt="" class="hidden w-full duration 200 md:block group-hover:scale-110">
           <!-- mobile image -->
           <img src="\assets\images\paintmob.jpg" alt="" class=" w-full md:hidden">
           <!-- item gradient -->
           <div class="item-gradient"></div>
           <!-- item text -->
           <h5>Paint Works</h5>
       
       </div>
   
       <!-- item 7 -->
       <div class="group item">
           <!-- desktop image -->
           <img src="\assets\images\periodic.jpg" alt="" class="hidden w-full duration 200 md:block group-hover:scale-110">
           <!-- mobile image -->
           <img src="\assets\images\periodicmob.jpg" alt="" class=" w-full md:hidden">
           <!-- item gradient -->
           <div class="item-gradient"></div>
           <!-- item text -->
           <h5>Periodic Service</h5>
       
       </div>
   
       <!-- item 8 -->
       <div class="group item">
           <!-- desktop image -->
           <img src="\assets\images\wheel.jpg" alt="" class="hidden w-full duration 200 md:block group-hover:scale-110">
           <!-- mobile image -->
           <img src="\assets\images\wheelmob.jpg" alt="" class=" w-full md:hidden">
           <!-- item gradient -->
           <div class="item-gradient"></div>
           <!-- item text -->
           <h5>Wheel Care</h5>
       
       </div>
   
       </div>

    </div>
</section>

<!-- footer -->

<footer class="bg-black">
    <!-- container -->
    <div class="container max-w-6xl py-10 mx-auto">
        <!-- footer flex container -->
        <div class="flex flex-col items-center mb-8 space-y-6
         md:flex-row md:space-y-0 md:justify-between md:items-alert">
         <!-- menu logo container -->
         <div class="flex flex-col items-center space-y-8 md:items-start md:space-y-4">
            <!-- logo -->
            <div class="h-8">
                <img src="\assets\images\carlogo.svg" alt="" class="w-44 md:ml-3">
            </div>
            <!-- menu container -->
            <div class="flex flex-col items-center space-y-4 
            font-bold text-white md:flex-row md:space-y-0 md:space-x-6 md:ml-3">

            <!-- item1 -->
            <div class="h-10 group">
                <a href="#" class="href">About</a>
                <div class="mx-2 group-hover:border-b group-hover:border-blue-50">

                </div>
            </div>

            <!-- item 2 -->
            <div class="h-10 group">
                <a href="#" class="href">Services</a>
                <div class="mx-2 group-hover:border-b group-hover:border-blue-50">

                </div>
            </div>

            <!-- item 3 -->
            <div class="h-10 group">
                <a href="#" class="href">Sale</a>
                <div class="mx-2 group-hover:border-b group-hover:border-blue-50">

                </div>
            </div>

            <!-- item 4 -->
            <div class="h-10 group">
                <a href="#" class="href">About</a>
                <div class="mx-2 group-hover:border-b group-hover:border-blue-50">

                </div>
            </div>

            <!-- item 5 -->
            <div class="h-10 group">
                <a href="#" class="href">About</a>
                <div class="mx-2 group-hover:border-b group-hover:border-blue-50">

                </div>
            </div>

        </div>
         </div>

         <!-- social & copy -->
         <div class="flex flex-col items-start justify-between space-y-4 text-gray-500">
            <!-- icon container -->
            <div class="flex items-center justify-center mx-auto space-x-4 md:justify-end md:mx-0">
                <!-- icon 1 -->
                <div class="h-8 group">
                    <img src="\assets\images\icon-facebook.svg" alt="" class="h-6">
                </div>

                <!-- icon 2 -->
                <div class="h-8 group">
                    <img src="\assets\images\icon-instagram.svg" alt="" class="h-6">
                </div>

                <!-- icon 3 -->
                <div class="h-8 group">
                    <img src="\assets\images\icon-pinterest.svg" alt="" class="h-6">
                </div>

                <!-- icon 4 -->
                <div class="h-8 group">
                    <img src="\assets\images\icon-twitter.svg" alt="" class="h-6">
                </div>
            </div>
            <!-- copy -->
            <div class="font-bold">
                &copy; 2023 Car Services. All Rights Reserved
            </div>
         </div>
        </div>

    </div>
</footer>